.container {
  display: grid;
  height: 100vh;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "box1 box1 box5 box5 box5 box5"
    "box1 box1 box6 box6 box9 box10"
    "box1 box1 box6 box6 box9 box11"
    "box2 box2 box7 box7 box9 box11"
    "box3 box3 box7 box7 box12 box12"
    "box4 box4 box8 box8 box12 box12";
}

.style {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
}

.text-white {
  color: rgb(255, 255, 255);
}

.box1 {
  background: blue;
  grid-area: box1;
}

.box2 {
  background: yellow;
  grid-area: box2;
}

.box3 {
  background: red;
  grid-area: box3;
}

.box4 {
  background: green;
  grid-area: box4;
}
.box5 {
  background: black;
  grid-area: box5;
}
.box6 {
  background: brown;
  grid-area: box6;
}
.box7 {
  background: purple;
  grid-area: box7;
}
.box8 {
  background: orange;
  grid-area: box8;
}
.box9 {
  background: white;
  grid-area: box9;
}
.box10 {
  background: pink;
  grid-area: box10;
}
.box11 {
  background: cyan;
  grid-area: box11;
}
.box12 {
  background: gray;
  grid-area: box12;
}
